/* Réinitialisation des marges et des paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style général du corps */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Conteneur principal */
.allelements {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Titre principal */
h1 {
    font-size: 3em;
    color: #333;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

/* Conteneur du menu */
.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

/* Style des liens (boutons) */
.menu a {
    display: inline-block;
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 50px;
    transition: all 0.3s ease;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* Couleurs spécifiques pour chaque bouton */
.menu a:nth-child(1) {
    background-color: #3498db; /* Bleu */
}

.menu a:nth-child(2) {
    background-color: #e74c3c; /* Rouge */
}

/* Effet de survol */
.menu a:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

/* Conteneur du bouton Retour */
.container-retour {
    margin-top: 20px;
}

/* Bouton de retour */
.Retour {
    display: inline-block;
    padding: 12px 25px;
    background-color: #f39c12;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 50px;
    transition: all 0.3s ease;
    font-weight: bold;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* Effet de survol pour le bouton de retour */
.Retour:hover {
    background-color: #e67e22;
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

/* Style responsive */
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        gap: 15px;
    }
}
