body {
    margin: 0;
    padding: 0;
    background-color: #141414;
    font-family: 'Orbitron', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: #00ffcc; 
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #00ffcc;
    text-overflow: 2px white; 
}
.certificates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.certificate {
    margin: 15px;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 10px;
    border: 1px solid #ccc;
}

.certificate iframe {
    width: 300px;
    height: 400px;
}

.certificate p {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

.container-retour {
    margin-top: 20px;
}


.Retour {
    display: inline-block;
    padding: 12px 25px;
    background-color: #f39c12;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}


.Retour:hover {
    background-color: #e67e22;
    transform: translateY(-5px);
}
