body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin-top: 30px;
    color: #333;
}

.certificates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.certificate {
    margin: 15px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
}

.certificate iframe {
    width: 300px;
    height: 400px;
}

.certificate p {
    margin-top: 10px;
    font-weight: bold;
}

}

/* Conteneur du bouton Retour */
.container-retour {
    margin-top: 20px;
}

/* Bouton de retour */
.Retour {
    display: inline-block;
    padding: 12px 25px;
    background-color: #f39c12;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 50px;
    transition: all 0.3s ease;
    font-weight: bold;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* Effet de survol pour le bouton de retour */
.Retour:hover {
    background-color: #e67e22;
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}
