body {
    margin: 0;
    padding: 0;
    background: url('https://i.pinimg.com/originals/f1/63/11/f16311fd0c32786525f471c685bc516e.gif') no-repeat center center fixed;
    background-size: cover;
    animation: backgroundAnimation 15s infinite alternate;
    font-family: 'Orbitron', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: #00ffcc; /* Assurez-vous que le texte est visible sur le fond */
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #00ffcc;
    -webkit-text-stroke: 2px white; /* Contour blanc de 2 pixels pour les navigateurs WebKit */
    text-stroke: 2px white; /* Contour standard */
}
.certificates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.certificate {
    margin: 15px;
    background-color: rgba(255, 255, 255, 0.8); /* Ajout d'un fond semi-transparent pour la lisibilité */
    padding: 10px;
    border: 1px solid #ccc;
}

.certificate iframe {
    width: 300px;
    height: 400px;
}

.certificate p {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

/* Conteneur du bouton Retour */
.container-retour {
    margin-top: 20px;
}

/* Bouton de retour */
.Retour {
    display: inline-block;
    padding: 12px 25px;
    background-color: #f39c12;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 50px;
    transition: all 0.3s ease;
    font-weight: bold;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* Effet de survol pour le bouton de retour */
.Retour:hover {
    background-color: #e67e22;
    transform: translateY(-15px);
    box-shadow: 0 12px 20px rgba(255, 136, 0, 0.8);
}

/* Animation de fond */
@keyframes backgroundAnimation {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
